<h1 id="tableLabel">Calender Events</h1>

<p *ngIf="!calendarEvents"><em>Loading...</em></p>

<div *ngIf="isEditMode">
  <div class="form-group row">
    <label class="col-4" for="name">Name</label>
    <input class="col-8" id="name" [(ngModel)]="currentEvent.name">
  </div>
  <div class="form-group row">
    <label class="col-4" for="isImportant">Is Important</label>
    <select [(ngModel)]="currentEvent.isImportant">
      <option *ngFor="let imp of impOptions" [value]="imp.value">{{imp.name}}</option>
    </select>
  </div>
  <div class="form-group row">
    <label class="col-4" for="date">Date</label>
    <div class="col-8" id="date">
      <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Date Time">
      <owl-date-time #dt1></owl-date-time>
    </div>
  </div>
  <div class="row">
    <div class="col-6 text-center">
      <button><i class="fa fa-check pr-2"></i>Ok</button>
    </div>
    <div class="col-6 text-center">
      <button><i class="fa fa-times pr-2"></i>Close</button>
    </div>
  </div>
</div>

<table class='mt-4 table table-striped' aria-labelledby="tableLabel" *ngIf="calendarEvents">
  <thead>
    <tr>
      <th>Name</th>
      <th>Is Important</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let calendarEvent of calendarEvents">
      <td>{{ calendarEvent.name }}</td>
      <td>{{ formatImportant(calendarEvent.isImportant) }}</td>
      <td>{{ formatDate(calendarEvent.date) }}</td>
      <td><button (click)="editEvent(calendarEvent)">
        <i class="fa fa-edit"></i>
      </button></td>
    </tr>
  </tbody>
</table>
