<h1 id="tableLabel">Calender Events</h1>

<p *ngIf="!calendarEvents"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="calendarEvents">
  <thead>
    <tr>
      <th>Name</th>
      <th>Is Important</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let calendarEvent of calendarEvents">
      <td>{{ calendarEvent.name }}</td>
      <td>{{ formatImportant(calendarEvent.isImportant) }}</td>
      <td>{{ formatDate(calendarEvent.date) }}</td>
      <td><button>
        <i class="fa fa-edit"></i>
      </button></td>
    </tr>
  </tbody>
</table>
